html, body {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    place-content: center;
}
body, canvas {
    background-color: #000;
}
#screen {
    flex: 1;
    align-self: center
}
